:root {
  --primary-text-color: #757575;
  --title-text-color: 212121;
  --accent-color: #2196f3;
  --alter-сolor: #188CE8;
  --first-background-color: #2F303A;
  --second-background-color:#E5E5E5;

}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  color: var(--title-text-color);
}

ul {
  list-style: none;
}
.link {
text-decoration: none;
}
.link:active{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Header */

.page-header {
  background-color: #ffffff;
}


/* Site-nav */

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color:#2196F3;
}

/* Hero */

.hero {
  background-color: var(--first-background-color);
  color: #ffffff;
}
.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Logo */

.logo {
  font-family: 'Raleway'sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-text{
  color: #000000
}

/* Section */

.section-title {
  color: var(--title-text-color);
}
.section {
  background-color:  var(--second-background-color);
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color)
}

/* Button */
.button-title{
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF; 
}
.button-title:hover,
.button-title:focus {
   background-color: var(--alter-сolor);
}

.button-list .button{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #F5F4FA;

}

.button-list .button:hover,
.button-list .button:focus{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  cursor: pointer;
}

.button-list .button:active{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

/* connection */

.connection .link:hover,
.connection .link:focus{
color: var(--accent-color);
}

.connection .link{
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

/* Main */

.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .name{
  font-weight: 500;   
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.section-team{
background-color: #F5F4FA;
}

/* Footer */

.footer-list{
  background-color: var(--first-background-color);
}
.logo {
  font-family: 'Raleway' sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-list .logo-text{
  color: #FFFFFF;
}
.footer-list .contact:hover,
.footer-list .contact:focus{
   color: var(--accent-color);
}
/* Address */

.address-list .address{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.address-list .contact{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* Portfolio */

.list .pretitle{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.list .title{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;

}